
<section id="thumbnails">
    <%= link_to "#seccion-pages_index_path" do %>
  <article>
   <a class="thumbnail" href="thumbs/01.jpg" data-position="left center">
      <%= image_tag "fulls/01f.jpg", alt: "" %>
    </a>
    <h2>Diam tempus accumsan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>
<% end %>

    <article>
      <%= link_to(image_tag('thumbs/02.jpg', alt: ''), 'fulls/02f.jpg', class: 'thumbnail') %>
      <h2>Vivamus convallis libero</h2>
      <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/03.jpg', alt: ''), 'fulls/03f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/04.jpg', alt: ''), 'fulls/04f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/05.jpg', alt: ''), 'fulls/05f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/06.jpg', alt: ''), 'fulls/06f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/07.jpg', alt: ''), 'fulls/07f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/08.jpg', alt: ''), 'fulls/08f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/09.jpg', alt: ''), 'fulls/09f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/10.jpg', alt: ''), 'fulls/10f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/11.jpg', alt: ''), 'fulls/11f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
    <article>
      <%= link_to(image_tag('thumbs/12.jpg', alt: ''), 'fulls/12f.jpg', class: 'thumbnail', 'data-position' => 'top center') %>
      <h2>Nec accumsan enim felis</h2>
      <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
    </article>
  
  
  
  
  