<!DOCTYPE html>
<html>
  <head>
    <title>Desafio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>

  <body>

    <!-- Main -->
		<div id="main">

			<!-- Header -->
			<header id="header">
        <h1>Lens</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <ul class="icons">
          <li>
            <%= link_to 'https://twitter.com/home' do %>
              <%= image_tag 'twitter.png', alt: 'Twitter', class: 'logo', size: '30x30' %>
              <span class="label"></span>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.instagram.com/' do %>
              <%= image_tag 'instagram.png', alt: 'Instagram', class: 'logo', size: '30x30' %>
              <span class="label"></span>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://github.com/abrahampizarrock' do %>
              <%= image_tag 'github.png', alt: 'Github', class: 'logo', size: '30x30' %>
              <span class="label"></span>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://mail.google.com/' do %>
              <%= image_tag 'mail.png', alt: 'Mail', class: 'logo', size: '30x30' %>
              <span class="label"></span>
            <% end %>
          </li>
           </ul>
      </header>
      <%= yield %>

      <!-- Footer -->
				<footer id="footer">
          <ul class="copyright">
            <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
          </ul>
        </footer>

		</div>

		<!-- Scripts -->
    <script src="<%= asset_path 'application.js' %>"></script>
    <script src="<%= asset_path 'jquery.min.js' %>"></script>
    <script src="<%= asset_path 'browser.min.js' %>"></script>
    <script src="<%= asset_path 'breakpoints.min.js' %>"></script>
		<script src="<%= asset_path 'main.js' %>"></script>
		
  </body>
</html>
